$opaquepink:rgba(255, 44, 131, 0.57);                
$colorfulpink:rgba(255, 44, 131, 1);
$opaquegray: rgba(196, 196, 196, 0.3);
$blanco: #fff;
$transparentblack: rgba(0,0,0,0.6);
$morado: #7B61FF;
$amarillo: #FFCC4D;