@use 'colores';
@import url('http://fonts.cdnfonts.com/css/gotham');


*{
   font-family: 'Gotham', sans-serif;
}

body{
    background: #000 !important;
}

@media screen and (min-resolution: 120dpi) { 
   body {zoom: 0.8;}
   .modal{zoom: 1;}
   }
 
   @media screen and (max-width: 1366px) { 
     body {zoom: 0.8;}
     .modal{zoom: 1;}
   }

.menu-navegacion{
   z-index: 2;
   transform: translateX(-50%);
   margin-top: 70px;

   @media (max-width:500px) {
      margin-top: 30px;
   }

   .logo-marca{
      img{
         max-width: 200px;

         @media (max-width:1024px) { 
               max-width: 150px;
         }

         @media (max-width:500px) {
               margin-left:20px ;     
         }
     
      }
   }

   .boton-vtr{
      height: 100%;
      a{
         display: block;
         text-decoration: none;
         color: colores.$blanco;
         font-weight: bold;
         padding: 10px 20px;
         border-radius: 20px;
         background: colores.$colorfulpink;
         transition: background 0.3s ease;
         &:hover{
            background: colores.$morado;
         }
      }      
   }
}
