@use 'colores';
@import url('http://fonts.cdnfonts.com/css/gotham');


*{
   font-family: 'Gotham', sans-serif;
}

body{
    background: #000 !important;
}

.menu-navegacion{
   z-index: 2;
   transform: translateX(-50%);
   margin-top: 70px;

   @media (max-width:500px) {
      margin-top: 30px;
   }

   .logo-marca{
      img{
         max-width: 250px;

         @media (max-width:1024px) { 
               max-width: 150px;
         }

         @media (max-width:500px) {
               margin-left:20px ;     
         }
     
      }
   }

   .boton-vtr{
      height: 100%;
      a{
         display: block;
         text-decoration: none;
         color: colores.$blanco;
         opacity: 0.8;
         font-weight: bold;
         padding: 10px 20px;
         border-radius: 20px;
         background: colores.$opaquepink;
         transition: background 0.3s ease;
         &:hover{
            background: colores.$morado;
         }
      }      
   }
}
